*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*nav bar styling*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Raleway', sans-serif;
    background-color: #113537;
}

.logo{
    color: #e7e5df;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px  #e7e5df;
    padding: 0.5rem 1rem;
    border:3px solid #e7e5df;
}

.navlinks{
    display: flex;
    background-color: none;
    justify-content: space-around;
    width: 30%;
    z-index: 1000;
    position: relative;
}

.navlinks li{
    list-style: none;
    margin: 1rem;
    z-index: 1000;
}

.navlinks a{
    color: #e7e5df;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
    text-transform: uppercase;
    z-index: 1000;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: #e7e5df;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .navlinks{
        width: 60%;
        
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .navlinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: #393e41;
        display:flex;
        flex-direction: column;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        z-index: 1000;
        overflow-x: hidden;
    }
    .navlinks li{
        opacity: 1;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*main site styling*/

.orange{
    color: rgb(0, 0, 0);

}
.backgroundcol{
    background: linear-gradient(90deg,#87eccb,#b0d1cf,#c8c2d0,#f1a8d4,#c8c2d0,#b0d1cf,#87eccb);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
font-weight: 600;
color: #000000;
word-spacing: .1rem;
}

.container{
    display: flex;
    justify-content: center;
}

.green{
color: rgb(0, 180, 0);
}
.blue{
    color: rgb(0, 0, 197);
}
.red{
    color: red;
}
.purple{
    color: purple;
}
.orangatang{
    color: orange;
}

.box{
    border:3px solid #11353780;
}

.Wframe{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        padding: 1em;
    margin: 0.5em;
      }

.wframe section img{
    padding: 1em;
    margin: 0.25em;
}

.graph1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:3px solid #11353780;
    margin: 0.5rem 1rem;
      }

.graph1 .imggraph1{
display: inline-block;
flex-direction: column;
}      

 .imgedmondhalley {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
      }

.imgedmondhalley img{
    justify-content: space-between;
}      

.blog1 {    
        padding: 2rem;
      }
.blog2 {    
        padding: 2rem;
      }
.blog3 {    
        padding: 2rem;
      }
.blog4 {    
        padding: 2rem;
      }
.blog5 {    
        padding: 2rem;
      }
.blog6 {    
        padding: 2rem;
      }
.aboutpg{
    padding: 2rem;
    margin: 0.5em;
}      

.blogbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: rgba(211, 211, 211, 0.349);
    padding: 1rem;
    margin: 1em;
    text-decoration: none;
    height: auto;
}

.blogbuttons button{
background-color: grey;
width: 6em;
height: auto;
}

.blogbuttons button a{
    color: #e7e5df;
    text-decoration: none;
    height: auto;
    width: 5em;
}

.visbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: rgba(211, 211, 211, 0.349);
    padding: 1rem;
    margin: 1em;
    text-decoration: none;
    height: auto;
}

.visbuttons button{
    background-color: grey;
width: 15em;
height: auto;
}

.visbuttons button a{
    color: #e7e5df;
    text-decoration: none;
    height: auto;
    width: 5em;
}

/*homepage design styling*/

.items-wrap{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.itemwrap{
    position: relative;
}

.LP-BackGround{
height: 350px;
width:100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.imgtxtwrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin: 0.5rem;
}

.logowrap img{
    width: 50%;
    margin: auto;
    display: inline-block;
position: relative;
}

.imgtxtwrapper .subtitle a{
transition: 1s;
font-weight: 600;
color: transparent;
overflow: hidden;
}

.imgtxtwrapper:hover .subtitle a{
    font-weight: 600;
    color: palevioletred;
    text-decoration: none;
}

.darken{
    transition: 1s;
    filter: brightness(10%);
}

/*data vis 2 styling*/
#appvis2{
    display: flex;
    margin: 2rem 1rem;
}

#chartvis2{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#chartvis2, #datavis2{
    margin: 0 2rem;
}

#datavis2 ul{
list-style: none;
margin: 0;
padding: 0;
}

#datavis2 li{
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.bar{
    fill: #37505c;
}

.label{
    fill: #37505c;
}