*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Raleway', sans-serif;
    background-color: #113537;
}

.logo{
    color: #e7e5df;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px  #e7e5df;
    padding: 0.5rem 1rem;
    border:3px solid #e7e5df;
}

.navlinks{
    display: flex;
    background-color: none;
    justify-content: space-around;
    width: 30%;
}

.navlinks li{
    list-style: none;
    margin: 1rem;
}

.navlinks a{
    color: #e7e5df;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
    text-transform: uppercase;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: #e7e5df;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .navlinks{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .navlinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: #393e41;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navlinks li{
        opacity: 1;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.orange{
    color: rgb(49, 71, 82);

}
.backgroundcol{
    background: linear-gradient(90deg,#96616b,#f76f8e,#ffead0,#f76f8e,#96616b);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
font-weight: 600;
color: #37505c;

}

.container{
    display: flex;
    justify-content: center;
}

.green{
color: rgb(0, 180, 0);
}
.blue{
    color: rgb(0, 0, 197);
}
.red{
    color: red;
}
.purple{
    color: purple;
}
.orangatang{
    color: orange;
}

.box{
    border:3px solid #11353780;
}

.Wframe img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: rotate(90deg);
      }

.graph1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:3px solid #11353780;
    margin: 0.5rem 1rem;
      }

 .img1 img{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: block;
      }

.blog1 {    
        padding: 2rem;
      }
.blog2 {    
        padding: 2rem;
      }
.blog3 {    
        padding: 2rem;
      }
.blog4 {    
        padding: 2rem;
      }
.blog5 {    
        padding: 2rem;
      }
.blog6 {    
        padding: 2rem;
      }

.blogbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-emphasis: none;
    background: rgba(211, 211, 211, 0.349);
    padding: 1rem;
}

.blogbuttons button{
background-color: grey;
}

.contwrap{

}